<Settings>
  <CorrectPush>1</CorrectPush>
  <WrongPush>0</WrongPush>
  <RewardRadius>1.7</RewardRadius>
  <BoxMean1>5</BoxMean1>
  <BoxMean2>10</BoxMean2>
  <BoxMean3>15</BoxMean3>
  <BoxNoise1>0.2</BoxNoise1>
  <BoxNoise2>0.2</BoxNoise2>
  <BoxNoise3>0.2</BoxNoise3>
  <TrialDuration>5000</TrialDuration>
  <DataAndConfigPath>C:\Data</DataAndConfigPath>
  <ComPort>0</ComPort>
  <LogEyeTracker>1</LogEyeTracker>
  <ColorScreenOnBoxes>1</ColorScreenOnBoxes>
</Settings>